.App {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;

}

body {
    margin: 0;
    padding: 0 0 58px;
    position: relative;
    display: flex;
    height: 100%;
    background: linear-gradient(145deg, blue,   deepskyblue, deepskyblue, blue) no-repeat center center fixed;
    /*background: linear-gradient(145deg, purple, deeppink, pink, red)  no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1170px;
    min-height: 100vh;
    max-width: 100%;
}
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: deepskyblue;
    border: 1px solid black;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html {

}
